name: Build and Deploy

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-api:$(date +%s)

  deploy:

    runs-on: self-hosted

    steps:
    - name: run docker container
      run: docker run -d -p 8000:80 my-api:$(date +%s)